<%- include("header") -%>
<div class="main-div">
    <h1>Todays Workout</h1>
    <div class="workout">
        <form>
            <input type="text" id="new-exercise" name="new-exercise" class="w-75">
            <button class="w-75 btn btn-large exercise-btn" type="submit">Add</button>
        </form>
    </div>
</div>

<%- include("footer") -%>